/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.liner-color{
    background: linear-gradient(90deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
   background-color: #FFFFFF;
   margin-left: 140px;
   margin-right: 60px;
}
nav h2{
    font-weight: 800;
}
nav>ul{
    display:flex;
}
nav li{
    list-style: none;
    padding-left:20px;
    padding-top:5px;
    margin:10px;
}
.follow-us{
    background-color:#c3c3c3;
    padding-left: 5px;
    padding: 5px;
}
.gamer-title{
    display: flex;
}
.gamer-img{
    width: 86.06px;
    height:40px;
    margin-top:15px;
}
/* main section started*/
.banner{
    display: flex;
    text-align: center;
    background-image:url(/images/Group\ 14.png);
    justify-content: space-between;
   
}
.goat{
    font-size:70px;
    font-weight:900;
    background: linear-gradient(90deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.banner-img{
    width:45%;
    height: 681.02px;
   
    margin-right: 60px;
}
.banner-content{
    margin-top: 100px;
    width:362px;
    height:200px;
    margin-left: 150px;
    text-align:left;
      
}
.banner-btn{
    display: flex;
    gap: 10px;  
   
}
.btn-signin{
    background-color: #F948B2;
    color:#FFFFFF ;
    border-radius: 30px;
    padding:10px;
    border-color: none;
    border:0px;
}
.btn-go{
    background-color: #4EC5F7;
    color:#FFFFFF ;
    border-radius: 30px;
    padding:10px;
    border:0px;
}
.banner2{
    display: flex;
    width:100%;
    height: 500px;
    background-color: rgba(250, 240, 230, 0.564);
}
.banner2-img{
    width:868px;
    height: 489px;
    margin-left:80px;
}
.banner2-title{
    background: linear-gradient(90deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner2-content{
    margin: 80px;
    text-align: right;
}
.btn-knowmore{
    background-color: #F948B2;
    color:#FFFFFF ;
    border-radius: 30px;
    padding:10px;
    border-color: none;
    border:0px;
}
.online-content{
    text-align: center;
    margin-top: 20px;
}
.games-card{
    display: flex;
    margin-left: 40px;
    margin-right: 200px;
    gap: 20px;

}
.game-img{
    width:342px;
    height:400px;
}
.game-img3{
    position: relative;
}

.img3-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:transparent;
    color: #F948B2;
    border: 0;
    border-radius: 20px;

}
.img3-btn:hover{
    background-color: #cac0bc;
}
.banner3{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;

}
.banner3 img{
    width: 580px;
    height: 550px;
}
.banner3-content{
    width: 353px;
    height: 294px;
    text-align: end;
    margin-top: 250px;
    padding-left: 40px;
}
.banner3-img2 img{
    width:318.5px;
    height:365.08px;
    position: relative;
    right: 160px;
    bottom:250px;
}
.banner4{
    display: flex;
    justify-content: space-evenly;

}
.banner4 img{
    width: 580px;
    height: 550px;
}
.banner4-content{
    width: 353px;
    height: 294px;
    text-align:start;
    margin-top: 250px;
}
.banner4-img2 img{
    width:318.5px;
    height:365.08px;
    position: relative;
    left: 380px;
    bottom:250px;
}
.careers{
    width:100%;
    height:600px;

}
.careers-container{
    display: flex;
    background-color:#F948B2; 
    color: #FFFFFF;
}
.careers-content{
    width:40%;
    height:400px;
    padding-left: 200px;
    padding-top: 150px;
   text-align: start;
}
.jobs-country{
 
    display: flex;
    justify-content: space-between;
}
.careers-img{
    width: 50%;
}
.country{
    text-align: end;
}
.games{
    display: flex;
    border-radius: 40px;
    background-color:#f9f9f9;
    align-items: center;
}
.games:hover{
    border: 1px solid tomato;
}
.games p{
 font-weight: 500;
 
}
.games-container{
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
footer{
    background-color:#0B0223;
    color: #FFFFFF;
}
/*footer*/
.footer-title{
    
    padding-left: 640px;
    padding-top: 40px;
}
.features{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}
.logo{
    text-align: center;   
}

.more-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.copyrights{
    text-align: center;
}

/* responsive */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        margin-left: 100px;
    }
    nav >ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        background-image:none;
    }
    .banner-img{
        width:100%;
        height: 400px;
        margin-left: 40px;
    }
    .banner-content{
        margin-top: 20px;
        margin-left:0px;
        padding-top: 0px;
        padding-left: 100px;
        background-image: url(/images/Group\ 14.png);
        width:360px;
        height: 400px;
        align-items: center;
        
    }
    .follow-us{
        width:150px;
    }
    .banner2{ 
        flex-direction: column;
        background-color:#FFFFFF;
    }
    .banner2-img{
        width: 100%;
        margin-left: 30px;
    }
    .banner2-content{
        text-align: center;
        margin-top: 5px;
        padding-left:20px;
    }
    .games-card{
        flex-direction: column;
    
    }
    .online-content{
        text-align: center;
        margin-top: 200px;
    }
    .banner3{
        flex-direction: column;
        margin:0;
    }
    .banner3-content{
        text-align: center;
        margin-top:80px;
    }
    .banner3 img{
        margin-left:20px ;
        width: 100%;
       
    }
    .banner4{
        flex-direction: column-reverse;
    }
    .banner4-content{
        margin-top:0px;
        text-align: center;
    }
    .banner4 img{
        width:100%;
    }
    .banner4-img2 img{
        width:50%;
        position: relative;
        left:260px;
        margin-left: 20px;
    }
    .careers-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 28px;

    }
    .careers-content{
        
        width:80%;
        height:400px;
        padding-left: 0px;
        padding-top: 10px;
        
     }
     .careers-container img{
        width: 300px;
        height: 300px;
     }
     .games-container{
        margin-top: 200px;
        margin-left:5px;

        grid-template-columns: repeat(3, 1fr);
     }
     footer{
        margin-left: 30px;
        width: 100%;
     }
     .footer-title{
        padding-left:100px;

     }
     .features{
        grid-template-columns: repeat(3, 1fr);
        padding-left:15px;
     }
     .logo{
        padding-left:150px;
     }
     .more-info{
        padding-left:15px;
        grid-template-columns:repeat(2, 1fr);
     }

}